.popular {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}
.popular h1 {
    color: #171717;
    font-size: 40px;
    font-weight: 600;
}
.popular hr {
    width: 200px;
    height: 1px;
    border-radius: 10px;
    background: #252525;
}
.popular-item {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
}